html, body, div, ul, li, dl, dt, img, p, span, button, header, footer, main, article {
  padding: 0;
  margin: 0;
}

* {
  -webkit-overflow-scrolling: touch;
}

ul, li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

input { /*清除苹果的阴影*/
  -webkit-appearance: none;
}

select {
  background-color: transparent;
  border: none;
  outline: none;
}

html, body, #app, #home {
  height: 100%;
  width: 100%;
  font-family: "microsoft yahei", 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body, html {
  background-color: #d9d9d9;
  font-size: 625%;/*或者625%*/
}

#app {
  display: flex;
}

#home {
  display: flex;
  flex-direction: column;
}

.mint-header {
  background-color: #FF5252;
  color: #fff;
}

article {
  flex: 1;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.mint-indicator-wrapper {
  font-size: 12px;
}

.mint-popup-right {
  border-radius: 5px;
  height: 100%;
  width: 70%;
}

.mint-popup-bottom {
  width: 100%;
}

/* loading加载样式 */
.page-infinite-loading{
  height:50px;
  text-align: center;
  display: flex;
  font-size:14px!important;
  justify-content: center;
  align-items: center;
}
input,textarea{
  -webkit-appearance: none;
   border-radius:0;
}
div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.noData {
  display:flex;
  justify-content: center;
  align-items: center;
  position: absolute;/*jyx页面居中*/
  top:30%;
}
.noData img{
  width:40%;
  height:30%;
}